<html>

    <h1> Personality: Happy </h1>

    <style>
body{
    background-color:yellow
    }
    </style>

    <p> 
        It seems you make good decisions and you should be proud of yourself.
        <br>
        If you are not satisfied with your performance, always strive to complete more goals and exceed higher expectations to improve yourself.
        <br>
        Remember to not stress yourself if possible when working endlessly, take breaks to relax. 
        <br>
        If you are feeling hopeless, then please call 1-800-273-8255 to seek help from the Suicide Prevention Lifeline. 
        <br>
        Always talk to a close family member or friend if you need guidance, help, or advice.  
        
    </p>

    
    <p>
        <a href="https://suicidepreventionlifeline.org/">Click here to visit the Suicide Prevention Lifeline Website for Help</a>
    </p>
   

    <button onclick="back()">Return to Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>

</html>