<html>

    <h1> Personality: Neutral </h1>

    <style>
body{
    background-color:yellowgreen
    }
    </style>

    <p> 
        It seems you make both right and wrong choices, and you may have regrets, but always remember to try your best. 
        <br>
        As long as you do not give up, your hard work and effort will ensure you to completing your goals faster.
        <br>
        If you are feeling down and the problem worsens where you become suicidal, help is available.
        <br>
        Please call 1-800-273-8255 to seek help from the Suicide Prevention Lifeline. Always talk to a close family member or friend if you need guidance, help, or advice.  
        
    </p>

    
    <p>
        <a href="https://suicidepreventionlifeline.org/">Click here to visit the Suicide Prevention Lifeline Website for Help</a>
    </p>
   

    <button onclick="back()">Return to Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>

</html>