<html>

    <h1> Personality: Sad </h1>

    <style>
body{
    background-color:mediumturquoise
    }
    </style>

    <p> 
        It seems you may be depressed or angry, despite you are trying to make the best from recent events. 
        <br>
        Its always advised to seek help from a close family member or friend if you need guidance, help, or advice.  
        <br>
        If you are feeling suicidal, help is available. Please call 1-800-273-8255 for the Suicide Prevention Lifeline.
    </p>

    
    <p>
        <a href="https://suicidepreventionlifeline.org/">Click here to visit the Suicide Prevention Lifeline Website for Help</a>
    </p>
   

    <button onclick="back()">Return to Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>

</html>