<!DOCTYPE html>
<html>
<head>
<h1>Personality Quiz</h1>
</head>
</html>

<html>
<body>

1. Hello! I hope you had a good day!<br>
<input type="radio" name="q1" id="1">Yes <br>
<input type="radio" name="q1">No <br>

2. How many hours do you spend with your family?<br>
<input type="radio" name="q2" > 1-3 hours <br>
<input type="radio" name="q2"> 0 hours <br>
<input type="radio" name="q2" id="2"> 0 - 1 hours <br>
<input type="radio" name="q2"> 3 or more hours <br>

3. How much people did you talk to today? <br>
<input type="radio" name="q3" > 0-2 people <br>
<input type="radio" name="q3" id="3"> 3-5 people <br>
<input type="radio" name="q3"> 0 people <br>
<input type="radio" name="q3"> 5 or more people <br>

4. Do you go outside? <br>
<input type = "radio" name = "q4" id = "4"> Yes <br>
<input type = "radio" name = "q4" > No <br>

5. If someone buys you food you didn’t ask for and didn’t like, does that bother you? <br>
<input type = "radio" name = "q5"> Yes <br>
<input type = "radio" name = "q5" id = "5" > No <br>

6. Do you have a substance use problem? <br>
<input type = "radio" name = "q6" > Yes <br>
<input type = "radio" name = "q6" id = "6" > No <br>

7. Do you visit a doctor? <br>
<input type = "radio" name = "q7" id = "7" > Yes <br>
<input type = "radio" name = "q7" > No <br>

8. Does peer pressure get to you? <br>
<input type = "radio" name = "q8" > Yes <br>
<input type = "radio" name = "q8" id = "8" > No <br>

9. Do you have a job? <br>
<input type = "radio" name = "q9" id = "9" > Yes <br>
<input type = "radio" name = "q9" > No <br>

10. How many hobbies do you have? <br>
<input type = "radio" name = "q10" id = "10"> 1 - 3<br>
<input type = "radio" name = "q10"> None at all <br>
<input type = "radio" name = "q10"> 4 or more <br>
<input type = "radio" name = "q10"> 0 - 2 <br>

<button onclick="result()">Submit</button>

<script type="text/javascript">


function result()
{
	var total_score=0;
	if(document.getElementById('1').checked)
		{	
            total_score = total_score + 1;
		}
	if(document.getElementById('2').checked)
		{	
            total_score = total_score + 1;
		}
	if(document.getElementById('3').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('4').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('5').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('6').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('7').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('8').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('9').checked)
		{	
            total_score = total_score + 1;
		}
    if(document.getElementById('10').checked)
		{	
            total_score = total_score + 1;
		}

    //alert("Your score is: "+ total_score);


   if (total_score == 0){
       location.replace("result0.html")
   }

   if (total_score == 1){
       location.replace("result1.html")
   }

   if (total_score == 2){
       location.replace("result2.html")
   }

   if (total_score == 3){
       location.replace("result3.html")
   }

   if (total_score == 4){
       location.replace("result4.html")
   }

   if (total_score == 5){
       location.replace("result5.html")
   }

   if (total_score == 6){
       location.replace("result6.html")
   }

   if (total_score == 7){
       location.replace("result7.html")
   }

   if (total_score == 8){
       location.replace("result8.html")
   }

   if (total_score == 9){
       location.replace("result9.html")
   }

   if (total_score == 10){
       location.replace("result10.html")
   }
   
}

</script>


</body>
</html>