<html>

    <h1> Personality: Happy </h1>

    <p> 
        It seems you have a positive outlook on life and making the most from your time to benefit yourself. Keep up the great work!. 

        If an obstacle comes in your path, remember to relax and take one step at a time to resolve the problem. 
        If you are feeling suicidal for any reason, contact the Suicide Prevention Lifeline at 1-800-273-8255 for help. 
    <p>

    <button onclick="back()">Go back to Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>

</html>