<html>

    <h1> Personality: Neutral </h1>

    <p> 
        It seems you have a neutral stance on life, whether good or bad events happen in your life. If you are feeling down, it is recommended to talk to a family member or friend about advice. 

        If problems worsen and you become suicidal, help is available. Please call 1-800-273-8255 for the Suicide Prevention Lifeline.
    </p>

    <button onclick="back()">Go back to Personality Quiz</button>

    <script type="text/javascript">
    function back(){
        location.replace("/")
    }
    </script>

</html>